* {
    margin: 0;
    padding: 0;
 }
 
 @media only screen and (min-width: 600px) {

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.5em;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.main-nav li {
    padding: 0px 20px 0px 20px;
    position: relative;
    left: 20px;
    top: 40px;

}

a {
    color: white;
    text-decoration: none;
}

.push {
    padding: o;
    margin-left: auto;
}

.zone {
    color:#FFF;
    font-size:2em;
    border-radius:4px;

    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.blue {
    background: black; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}

.pizza {
    width: 333px;
    height: 51px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 0px;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.main-nav2 {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.5em;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .main-nav2 {
        font-size: 0.5em;
        padding: 0;
    }
}

.main-nav2 li {
    padding: 10px;
    position: relative;
    left: 20px;
    top: 40px;
}

.main-nav2 .rec12 {
    padding: 0px 0px 0px 150%;
}

.rec12 {
    width: 62.33057593216988px;
    border-radius: 0px;
}

.img5 {

    width: 52px;
    border-radius: 0px;
}

.img4 {
    width: 47px;
    border-radius: 0px;
}

.rec2 {
     background-color: black;
}

.rec2 img {
    object-fit: cover;
}

.rec2 h3 {
    position: absolute;
width: 902px;
height: 215px;
left: 17px;
top: 240px;

font-family: 'Quattrocento';
font-style: normal;
font-weight: 700;
font-size: 101px;
line-height: 108px;
/* or 107% */

text-align: center;
letter-spacing: 0.09em;

color: #FFFFFF;
}

.rec2 h4 {
    box-sizing: border-box;
    position: absolute;
    width: 586px;
    height: 13px;
    left: 150px;
    top: 533px;

    background: #F24C4C;
    box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}

.rec2 p {
    position: absolute;
    width: 599px;
    height: 325px;
    left: 150px;
    top: 613px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */

    letter-spacing: 0.09em;

    color: #FFFFFF;
}

.rec3 {
    height: 200vw;
    background-color: #1E1E1E; ;
}

.rec4 h4 {
    position: relative;
    width: 526px;
    height: 58px;
    left: 599px;
    top: 121px;

    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 0px;


    display: flex;
    align-items: center;
    text-align: center;
  color: #FFFFFF;
}

.rec4 img {
    position: absolute;
    width: 631px;
    height: 506px;
    left: 800px;
    top: 1368px;

    background-color: black;
    border-radius: 10px;
    }

.rec4 h5 {
    position: absolute;
    width: 526px;
    height: 10px;
    left: 460px;
    top: 1289px;

    background: #B62828;
    }

.rec4 h6 {
    box-sizing: border-box;
    position: absolute;
    width: 535px;
    height: 4px;
    left: 193px;
    top: 1404px;

    background: #F24C4C;
    box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
 }

 .rec4 p{
    position: absolute;
    width: 590px;
    height: 420px;
    left: 193px;
    top: 1421px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */

    letter-spacing: 0.09em;

    color: #FFFFFF;
 }
}

.rec5 h4{
        position: absolute;
    width: 474px;
    height: 52px;
    left: 609px;
    top: 2021px;

    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 0px;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.rec5 h5 {
    position: absolute;
    width: 474px;
    height: 9px;
    left: 450px;
    top: 2087px;

    background: #B62828;
}

.rec5 p {
        position: absolute;
    width: 1150px;
    height: 378px;
    left: 150px;
    top: 2153px;

    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */

    letter-spacing: 0.09em;

    color: #FFFFFF;
}

.food img {
    position: absolute;
    width: 273.08px;
    height: 200px;
    left: 140px;
    top: 2389px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.food h6 {
    position: absolute;
    width: 348px;
    height: 51px;
    left: 440px;
    top: 2389px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    color: #F2C94C;
    
}

.food p {
    position: absolute;
    width: 346px;
    height: 120px;
    left: 440px;
    top: 2440px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
}

.food2 img {
    position: absolute;
    width: 274px;
    height: 200px;
    left: 840px;
    top: 2389px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.food2 h6 {
    position: absolute;
    width: 348px;
    height: 51px;
    left: 1140px;
    top: 2389px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
}

.food2 p {
    position: absolute;
    width: 346px;
    height: 120px;
    left: 1140px;
    top: 2440px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
}

.food3 img {
    position: absolute;
    width: 274px;
    height: 183.67px;
    left: 140px;
    top: 2650px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.food3 h6 {
    position: absolute;
    width: 348px;
    height: 51px;
    left: 440px;
    top: 2643px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
}

.food3 p {
    position: absolute;
    width: 346px;
    height: 120px;
    left: 440px;
    top: 2694px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
}

.food4 img {
    position: absolute;
    width: 274px;
    height: 200px;
    left: 840px;
    top: 2650px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.food4 h6 {
    position: absolute;
    width: 348px;
    height: 51px;
    left: 1140px;
    top: 2643px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
}

.food4 p {
    position: absolute;
    width: 346px;
    height: 120px;
    left: 1140px;
    top: 2694px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
}

.food5 img {
    position: absolute;
    width: 274px;
    height: 200px;
    left: 140px;
    top: 2898px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.food5 h6 {
    position: absolute;
    width: 348px;
    height: 51px;
    left: 440px;
    top: 2900px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
}

.food5 p {
    position: absolute;
    width: 346px;
    height: 120px;
    left: 440px;
    top: 2949px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
}

.food6 img {
    position: absolute;
    width: 274px;
    height: 200px;
    left: 840px;
    top: 2898px;
    
    background: url(.jpg);
    border-radius: 10px;
}

.food6 h6 {
    position: absolute;
    width: 348px;
    height: 51px;
    left: 1140px;
    top: 2898px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;
    /* or 0% */
    
    display: flex;
    align-items: center;
    
    color: #F2C94C;
}

.food6 p {
    position: absolute;
    width: 346px;
    height: 120px;
    left: 1140px;
    top: 2949px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    /* or 200% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
}

.rec6 img {
    box-sizing: border-box;

    position: absolute;
    width: 685px;
    height: 438px;
    
    background: url(.png);
}

.rec6 h4{
    position: absolute;
    width: 474px;
    height: 52px;
    
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 0px;
    /* or 0% */
    

    
    color: #FFFFFF;
}

.rec6 h5{
    position: absolute;
    width: 499px;
    height: 9px;
    
    background: #B62828;
}

.rec6 p{
    position: absolute;
    width: 640px;
    height: 181px;
    
    font-family: 'Ruda';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    /* or 160% */
    
    letter-spacing: 0.09em;
    
    color: #FFFFFF;
}

.pp{

}

.ppp{

}

.loc {
    position: absolute;
    left: 41%;
    right: 40%;
    top: 27%;
    bottom: 54%;
    
    mix-blend-mode: normal;
    /* Gray 6 */
    
    border: 4px solid #F2F2F2;
}

.phone {
    position: absolute;
    left: 68.25%;
    right: -62.19%;
    top: 98.42%;
    bottom: -26.03%;
    
    mix-blend-mode: normal;
    /* Gray 6 */
    
    border: 5px solid #F2F2F2;
    transform: matrix(-0.72, -0.69, 0.72, -0.69, 0, 0);
}